
.content{
  min-height:500px;
  max-width: 700px;
  margin: 40px auto;
  margin-bottom: 40px;
}

#to-do-form textarea{
  border: 2px solid #000;
  width: 100%;
  height: 500px;
  font-size: 18px;
  border-radius: 10px;
}
#to-do-form input::placeholder{
  color: #000
}
#to-do-form input:focus{
  outline: none;
}
#to-do-form button{
  height: 50px;
  width: 180px;
  font-size: 24px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 0;
  background-color:rgb(24, 202, 33); 
  cursor: pointer;
}
#to-do-form button:focus{
  outline: none;
}